{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Contact{% endblock %}

{% block body %}
<h1 class="text-secondary text-center">contacter sur Share</h1>

{{form_start(form)}}

{{form_label(form.nom, 'Nom',{'label_attr':{'class':'fw-bold'}})}}
{{form_widget(form.nom, {'attr':{'class':'form-control', 'placeholder':'Saisir votre Nom'}})}}
{{form_label(form.email, 'Email',{'label_attr':{'class':'fw-bold'}})}}
{{form_widget(form.email, {'attr':{'class':'form-control', 'placeholder':'Saisir votre Email'}})}}
{{form_label(form.sujet, 'Sujet',{'label_attr':{'class':'fw-bold'}})}}
{{form_widget(form.sujet, {'attr':{'class':'form-control', 'placeholder':'Saisir un Sujet'}})}}
{{form_label(form.message, 'Message',{'label_attr':{'class':'fw-bold'}})}}
{{form_widget(form.message, {'attr':{'class':'form-control'}})}}
{{form_widget(form.envoyer, {'label':"envoyer les info",'attr':{'class':'btn bg-primary'}})}}
{##}
{{form_end(form,{render_rest: false})}}
{% endblock %}